<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
        <nav>
          <ul>
            {% for item in site.navigation %}
              <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
